:root {
    --clr-primary: #e50914;
}

body {
    background-color: #141414;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

.bd {
    width: 100%;
    overflow: visible;
    position: static;
}

.header {
    position: sticky;
    top: 0;
    height: auto;
    min-height: 4.375rem;
    z-index: 1;

    & .header-container {
        background-color: transparent;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;

        & .main-header {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
            padding: 0 3.75rem;
            position: relative;
            display: flex;
            align-items: center;
            transition: background-color .4s;
            height: 4.25rem;

            & .logo {
                & svg {
                    filter: drop-shadow(0 0 .625rem rgba(0, 0, 0, 1));
                    fill: var(--clr-primary);
                    width: 9.25rem;
                    height: 2.5rem;
                    margin-right: 1.5625rem;
                }
            }

            & .primary-nav {
                display: flex;
                align-items: center;

                & .primary-nav-tab {
                    margin-left: 1.25rem;
                    color: #e5e5e5;

                    &.active {
                        font-weight: 700;
                        color: #fff;
                    }
                }
            }

            & .secondary-nav {
                right: 3.75rem;
                align-items: center;
                display: flex;
                flex-grow: 1;
                height: 100%;
                justify-content: flex-end;
                position: absolute;
                top: 0;

                & .search {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    padding: 0 .375rem;

                    & svg {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }

                & .nav-element {
                    margin-right: .9375rem;

                    & .account {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        & .caret {
                            border-color: #fff transparent transparent;
                            border-style: solid;
                            border-width: .3125rem .3125rem 0;
                            margin-left: .625rem;
                            transition: transform 367ms cubic-bezier(.21,0,.07,1);
                        }
                    }
                }

            }
        }
    }
}

.main-view {
    min-height: 1000px;
    position: relative;
    z-index: 0;

    & .main-view-hero-container {
        margin-top: -4.375rem;
        padding-bottom: 3.125rem;

        & .billboard-container {
            display: block;
            position: relative;
            z-index: 1;

            & .billboard-row {
                left: 0;
                position: relative;
                right: 0;
                top: 0;
                margin-bottom: 20px;
                padding-bottom: 40%;

                & .hero-container {
                    height: 56.25vw;
                    position: absolute;
                    width: 100%;
                    z-index: 0;

                    & .hero-container-mask {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        & .hero-container-bottomlayer {
                            z-index: 2;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;

                            & .hero-image-wrapper {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;

                                & .hero-image {
                                    background-position: 50%;
                                    background-size: cover;
                                    width: 100%;
                                    z-index: 5;
                                    overflow-clip-margin: content-box;
                                    overflow: clip;
                                }
                    
                                & .hero-left-vignete {
                                    background: linear-gradient(77deg, rgba(0, 0, 0, .6), transparent 85%);
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 26.09%;
                                    top: 0;
                                }
                    
                                & .hero-bottom-vignete {
                                    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
                                    position: absolute;
                                    bottom: -1px;
                                    top: auto;
                                    left: 0;
                                    right: 0;
                                    height: 14.7vw;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        

        & .embedded-components {
            position: absolute;
            bottom: 35%;
            right: 0;
            background-color: rgba(51, 51, 51, .6);
            border: 3px #dcdcdc;
            border-left-style: solid;
            font-size: 1.1vw;
            height: 2.4vw;
            padding: .5vw 3.5vw .5vw .8vw;
        }
    }

    & .main-view-meta-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;

        & .main-view-meta-layer {
            left: 3.75rem;
            position: absolute;
            bottom: 35%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 36%;
            z-index: 10;

            & .main-view-meta-info-container {
                width: 100%;

                & .title {
                    margin-bottom: 1.2vw;
                    min-height: 13.2vw;
                }
    
                & .synopsis {
                    margin: .5vw 0 0;
                    font-size: 1.2vw;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: .1vw;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
                }
    
                & .meta-buttons {
                    display: flex;
                    line-height: 88%;
                    margin-block: 1.5vw;
                    gap: .9vw;
                    
                    & .meta-play-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: white;
                        color: black;
                        border-radius: .25rem;
                        cursor: pointer;
                        padding: .666rem 2rem;
                        box-shadow: 0px 0px 10px rgba(255, 255, 255, .3);
    
                        & .meta-buttons-play {
                            height: 2rem;
                            width: 2rem;
    
                            & svg {
                                height: 100%;
                                width: 100%;
                            }
                        }
        
                        & .meta-buttons-play-text {
                            font-size: 1.6rem;
                            font-weight: 500;
                            line-height: 2.4rem;
                            margin-left: 1rem;
                            font-size: 1.3em;
                        }
                    }
    
                    & .meta-more-button {
                        background-color: rgba(109, 109, 110, 0.7);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: .25rem;
                        cursor: pointer;
                        padding: .666rem 2rem;
                        box-shadow: 0px 0px 10px rgba(255, 255, 255, .3);
    
                        & .meta-more-button-info {
                            height: 2rem;
                            width: 2rem;
    
                            & svg {
                                height: 100%;
                                width: 100%;
                            }
                        }
    
                        & .meta-more-button-text {
                            font-size: 1.3em;
                            font-weight: 500;
                            line-height: 2.4rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }

    & .mylist {
        position: relative;
        z-index: 1;
    
        & .slider-title {
            font-size: 1.4vw;
            font-weight: 500;
            color: #e5e5e5;
            padding: 0 3.75rem;
            margin-bottom: 0.5em;
        }
    
        .slider-content {
            overflow-x: visible;
            padding: 0 3.75rem;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            row-gap: 3vw;
    
            & .slider-item {
                width: 16.66666667%;
                padding: 0 .2vw;
                border-radius: .2vw;

                & img {
                    cursor: pointer;
                    /* position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0; */
                }
            }
        }
    
    }
}

