:root {
    --clr-primary: #e50914;
}

.navbar-brand svg {
    filter: drop-shadow(0 0 .625rem rgba(0, 0, 0, 1));
    fill: var(--clr-primary);
    width: 7.25rem;
    height: 2rem;
}

.caret {
    border-color: var(--clr-primary) transparent transparent;
    border-style: solid;
    border-width: .7rem .6rem 0;
    margin-left: .625rem;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
}

main .container {
    max-width: 700px;
}

.form-control:focus {
    border-color: rgba(229, 9, 20,.5);
    box-shadow:0 0 0 .25rem rgba(229,9,20,.25)
}

body {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/4d7bb476-6d8b-4c49-a8c3-7739fddd135c/797ff199-e253-4a0d-ba2c-747b0e3a8c80/AR-es-20240429-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: cover;
}

body::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.formStyles {
    background-color: rgba(0, 0, 0, .6);
}